@mixin main-button {
    background-color: $primary-color;
    border-radius: 60px;
    padding: 11px 20px;
    color: $text-white-color;
    font-size: 18px;
    font-weight: bold;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &:hover {
        background-color: $primary-color-hover;
    }
}

@mixin secondary-button {
    background-color: $inactive-color;
    border-radius: 60px;
    padding: 11px 20px;
    color: $text-white-color;
    font-size: 18px;
    font-weight: bold;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &:hover {
        background-color: $text-light-color;
    }
}
